@model _09Demo_TagHelpers.Models.NewUser

<div class="text-danger">
    <p>@Model.Name</p>
    <p>@Model.Age</p>
    <p>@Model.Gender</p>
    <p>@Model.Address</p>
    <p>@Model.Email</p>
    <p>@Model.PhNo</p>
    <p>@Model.isMarried</p>
    <p>@Model.Enquiry</p>
</div>